:root {
  ---medium_Color: #3ab5b0;
}

.switch_Mode_Container {
    height: 50px;
    margin: auto;
    width: 100px;
    background-color: var(---container_Color);
    border-radius: 50px;
    border: 3px solid black;
  }
  
  .switch_Mode {
    position: relative;
    height: 44px;
    width: 50px;
    background-color: black;
    border-radius: 50px;
    background-color: var(---medium_Color);
  }
  
  .switch_Mode_Container:hover {
    cursor: pointer;
  }

  .darkModeContainer {
    display: grid;
    color: black;
    font-weight: bold;
    place-content: center;
    background-color: rgba(114, 108, 119, 0.5);
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    margin-top: 15px;
  }