.Modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    top: 0;
}

.SettingsContainer {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 50px 0 0 50px;
    border-radius: 40px;
}