:root {
  ---container_Color: #726c77;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

.avisos {
  position: relative;
  top: 40px;
  font-size: 50px;
  margin: auto;
  font-weight: bold;
  -webkit-text-stroke: black 3px;
  background-color: var(---container_Color);
  border-radius: 50px;
  box-shadow: black 1px 2px 1px 2px;
  border: 2px black solid;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
