.languageContariner {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(114, 108, 119, 0.5);
    color:  black;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
}

.languageContariner select {
    border: none;
    background-color: rgba(114, 108, 119, 0.4);
    border-radius: 20px;
}