:root {
  ---gradient_Background: linear-gradient(to right, #3ab5b0 0%, #3ab5b0 31%, #56317a 100%);
  ---fontAndInputBg_Color: white;
  ---container_Color: #726c77;
  ---dark_Background: linear-gradient(to right, #434343 0%, black 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: var(---gradient_Background);
  color: var(---fontAndInputBg_Color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 11fr;
  grid-template-rows: 2fr 1fr 7fr;
  grid-template-areas: 'header header' 'left hdright' 'left right';
  width: 100%;
  height: 100%;
}

#root > h1:first-child {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  -webkit-text-stroke: black 3px;
  text-align: center;
  border-radius: 50px;
  border: black 3px solid;
  box-shadow: black 4px 2px 4px 2px;
  padding: 15px;
  margin: auto;
  grid-area: header;
  }

/* Dark Mode */

.darkBackground {
  background-image: var(---dark_Background) !important;
  color: white !important;
}