* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  display: grid;
  grid-template-columns: 6fr 10fr;
  grid-template-rows: 2fr 1fr 7fr;
  grid-template-areas: 'header header' 'left hdright' 'left right';
  width: 100%;
  height: 100%;
}

#root > h1:first-child {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  -webkit-text-stroke: black 3px;
  text-align: center;
  background-color: #fff3b8;
  border-radius: 50px;
  border: black 3px solid;
  box-shadow: black 4px 2px 4px 2px;
  padding: 15px;
  margin: auto;
  grid-area: header;
  }

  #root > h1 p {
    font-size: 3rem;
    margin: 0 14px;
  }

  #root > h1 p:first-child {
    color: rgb(3, 195, 3);
  }

  #root > h1 p:last-child {
    color: rgb(86, 189, 241);
  }

 .headerTitle:hover {
    transition: 2seg;
    transform: rotateZ(3deg);
  }

#root button {
  grid-area: left;
}

#root .add_Container {
  display: flex;
  flex-direction: column;
  grid-area: left;
  width: auto;
  height: auto;
  margin-top: 85px;
  align-self: start;
  justify-self: center;
  background-color: #fff3b8;
  border-radius: 50px;
  box-shadow: black 10px 5px 10px 5px;
}

#root .add_Container input {
  width: 300px;
  height: 40px;
  margin: 25px auto;
  padding: 5px;
  margin: 25px;
  border: black 3px solid;
  border-radius: 50px;
  box-shadow: black 1px 2px 1px 2px;
}

#root .add_Container input:active {
  transform: translateY(10px) translateX(10px);
}

#root .add_Container input:focus {
  border: #f83600 5px solid;
  box-shadow: #f83600 1px 2px 1px 2px;
}

#root .add_Container button {
  color: white;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  font-size: 5rem;
  font-weight: bold;
  width: 150px;
  height: 150px;
  margin: 20px;
  align-self: center;
  border-radius: 100px;
  box-shadow: black 1px 2px 1px 2px;
}

#root .add_Container button:hover {
  transition: 0.1s;
  font-size: 6rem;
  background-color: #d0b21f;
  cursor: pointer;
  width: 180px;
  height: 180px;
  transform: rotateZ(360deg);
}

.todo_list_container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  margin: 0 30px;
  justify-content: space-between;
  position: absolute;
  grid-area: right;
  border-radius: 20px;
  box-shadow: black 10px 5px 10px 5px;
}

.todo_list_container > p {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: black;
  width: calc(100% / 3);
  height: 50px;
  padding: 10px;
  align-items: center;
  border: 2px black solid;
}

.todo_list_container > p:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.todo_list_container > p:first-child {
  border-radius: 20px 0 0;
}

.todo_list_container > p:nth-child(3) {
  border-radius: 0 20px 0 0;
}

#root ul {
  border: 2px black solid;
  border-top: none;
  border-radius: 0 0 20px 20px;
  display: flex;
  width: 100%;
  flex-flow: wrap;
  list-style: none;
  justify-content: stretch;
}

#root ul li {
  display: flex;
  flex-direction: row;
  background-color: #fff3b8;
  color: black;
  width: max-content ;
  height: 50px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  border-radius: 50px;
  box-shadow: black 1px 2px 1px 2px;
  border: 2px black solid;
}

#root ul li .todo_item {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-right: 10px;
}

#root ul li .unready_ToDo:hover {
  cursor: pointer;
  color: rgb(3, 195, 3);
  transition: 0.2s;
  transform: rotateZ(360deg);
}

#root ul li .todo_item:active {
  transition: 0s;
  transform: translateY(4px) translateX(4px);
}

#root ul li span:last-child {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  bottom: 23px;
  margin-left: 10px;
  -webkit-text-stroke: 1px black;
}

#root ul li span:last-child:hover {
  transition: 0.2s;
  transform: rotateZ(180deg);
  color: red;
  cursor: pointer;
}

#root .deleteTodo {
  display: none;
}

#root .Search_input {
  margin: auto;
  width: 35vw;
  height: 40px;
  padding: 5px;
  grid-area: hdright;
  border: black 3px solid;
  border-radius: 50px;
  box-shadow: black 1px 2px 1px 2px;
}

#root .Search_input:active {
  transform: translateY(10px) translateX(10px);
}

#root .Search_input:focus {
  border: #f83600 5px solid;
  box-shadow: #f83600 1px 2px 1px 2px;
}

#root ul li .completedToDos {
  color: rgb(3, 195, 3);
}

#root ul li .completedToDos:hover {
  cursor: pointer;
  color: white;
  transition: 0.2s;
  transform: translateX(4px) translateY(4px);
}


#root ul li .completedToDosText {
  text-decoration: line-through;
}