:root {
    ---right_Color: #56317a;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.Search_input {
    margin: auto;
    width: 35vw;
    height: 40px;
    padding: 5px;
    grid-area: hdright;
    border: black 3px solid;
    border-radius: 50px;
    box-shadow: black 1px 2px 1px 2px;
  }
  
  #root .Search_input:active {
    transform: translateY(10px) translateX(10px);
  }
  
  #root .Search_input:focus {
    border: var(---right_Color) 5px solid;
    box-shadow: var(---right_Color) 1px 2px 1px 2px;
  }