:root {
    ---right_Color: #56317a;
    ---container_Color: #726c77;
  }
  
.Search_input {
    color: white;
    background-color: var(---container_Color);
    margin: auto;
    width: 35vw;
    height: 40px;
    padding: 5px;
    grid-area: hdright;
    border: black 3px solid;
    border-radius: 50px;
    box-shadow: black 1px 2px 1px 2px;
  }

.Search_input::placeholder {
  color: white;
}
  
.Search_input:active {
  transform: translateY(10px) translateX(10px);
}

.Search_input:focus {
  border: black 5px solid;
  box-shadow: black 1px 2px 1px 2px;
}